/* src/components/Dealers/Dealers.css */

/* Table Styling */
.table {
    margin: 5px;
    padding: 10px;
    border: grey solid 1px;
    width: 100%;
  }
  
  .table th, .table td {
    padding: 10px;
    border: solid grey 0.5px;
    text-align: center;
    font-size: large;
  }
  
  /* Review Panel Styling */
  .review_panel {
    display: flex;
    flex-direction: column;
    border: solid grey;
    position: relative;
    height: 7cm;
    width: 6cm;
    overflow-y: scroll;
    padding: 0.3cm;
    border-radius: 10px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5cm;
    justify-content: space-between;
  }
  
  /* Post Review Button Styling */
  .postreview {
    margin: 20px;
    padding: 10px;
    font-size: larger;
  }
  
  /* Reviews Panel Styling */
  .reviews_panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1cm;
    margin-top: 1cm;
    align-items: flex-start;
  }
  
  /* Reviewer Styling */
  .reviewer {
    margin: 10px;
    font-style: italic;
    color: gray;
    font-size: small;
  }
  
  /* Review Text Styling */
  .review {
    margin-top: 1.5cm;
  }
  
  /* Emotion Icon Styling */
  .emotion_icon {
    width: 40px;
    height: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }
  
  /* Review Icon Styling */
  .review_icon {
    width: 40px;
    transition: transform 0.3s, border 0.3s;
  }
  
  .review_icon:hover {
    transform: scale(1.1);
    border: solid lightgray;
  }
  